<br>
<div class="row">
    <div class="col-md-4">  
        <h5>Next Menu's Day</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="">Menu</a>
                <table class="table table-sm">
                    <tr>
                        <th>Date</th>
                        <th>Program</th>
                    </tr>
                </table>
            </div>
    </div>

    <div class="col-md-8">
        <h5>Last 5 orders of the day</h5>
            <hr>
            <div class="card card-body">
                <a class="btn btn-primary  btn-sm btn-block" href="">Export Today Orders</a>
                <table class="table table-sm">
                    <tr>
                        <th>Customer</th>
                        <th>Date Orderd</th>
                        <th>Comment</th>
                    </tr>
                </table>
            </div>
    </div>

</div>