<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'Noras Dasboard'%}">Nora's CornerShop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{% url 'menu_hub' %}">Menu</a>
      <a class="nav-item nav-link" href="{% url 'employee_hub'%}">Employee</a>
    </div>
  </div>

  <span><a href="{% url 'Logout_page'%}">Logout</a></span>
</nav>